/* To be overridden by theme user */
// @import "variables";
@viewport {
  scroll-behavior: auto;
}
html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding-top : 0px;
  padding-bottom: 100px;
  box-sizing: content-box;
  
} 

/* règles relatives au contenu main */
main.flex.container {

height:100%;
}
.flex{
/*scroll-behavior: smooth;*/
/*will-change: transform;*/
}
.book-page{
   /*margin-top:100px;*/
   box-sizing: content-box;
   padding-top:100px;
   padding-left:40px;
} 

/* règles relatives aux 2 menus latéraux */
#TableOfContents{
   margin-top:220px;
   margin-bottom:50px;
   }

/* suppression barre scroll du menu */
.book-menu nav{
	/*overflow-y:visible;*/
	/*overflow: hidden;*/
    overflow: -moz-scrollbars-none;  // Firefox
	-ms-overflow-style: none;  /* ok pour safari et IE explorer*/
	overflow: -moz-scrollbars-none; 
   margin-top:20px;
   }
.book-menu nav::-webkit-scrollbar { 
    width: 0 !important;
    background: transparent;
    }   /*pour chrome*/

/* position des tableaux formules formulaires, gestion de l'overflow*/   
div[id=tableau], form, table, iframe, .formule {
	overflow: scroll;
	display: block;
   	justify-content: center;
	}
/* regle pour les boutons personnalisés*/
input[type=button]{
	display: block;
	margin-top: 50px;
	}
input[type="button"]:hover { font-size: 105% }

/* dessins canvas */	  
canvas { 
    margin-top: 50px;
    border: 2px solid black;
    align : center; 
    }
/* champs formulaire */   
input[type="text"]{
    font-size:12px;
	}
/*images et figures*/	
img, figure {
	align : center;
	}

/*etiquette des figures*/
figcaption { 
	text-align: right;
	font-size: small;
	font-style : italic;
}
/*****trait de surlignement *******/
h1{border-bottom:solid 1px #ccc;} 

/********* boutons de navigation entre pages du site ***********/

	/*container des elements div */
.main {
	
	height:40%;
	display : inline-block; /*pour permettre aux div de s'afficher côte à côte. Chacun des div contenus devront posseder la regle float*/
	width:100%;
	box-sizing: content-box;
	}
	/*container div des boutons */

.main-inside{
	
	border: 2px outset;	
	height:45%;
	width:45%;
	/*height:100px;*/
	/*width:300px;*/
	margin: 0;
	box-shadow:2px 2px 2px gray, -1px -1px 2px white;
	}

.left{
	float : left;
	}

.right{
	float:left;
	}	
	/*règles pour les boutons */

.btn-lg {   
   padding:6px 0 6px 0;
	font:bold 13px Arial;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	width:200px;
	border:1px solid #ccc;
	position : relative;
}

.btn-lg:hover{
  color:white;
}
/* positionnement scrolling pour le header */
.my-header-container {
  background-color: #f1f1f1;
  padding: 0px;
  text-align: center;
  text-color: #f1f1f1;
  margin:0;
}
.my-site-header {
  top:0;left:0;right:0;
  background: #eeeeee;

}

#myHeader {
  z-index:1;
  height : 70px;
  background: #555;
  vertical-align:middle;
  will-change: transform;
}
#myHeader a {
  color : white;
}
.sticky {
  position:fixed;
  top:0;left:0;right:0;
  /* amélioration des performances pour un element retiré du flux */
  /* voir developper mozilla Web/CSS/position */
  will-change: transform; 
  
}

.titre {
  position : absolute;
  top: 1 rem; 
  left: 2rem;
}
/* positionnement du footer en bas de page non sticky */
.site_footer {
  margin-top:100px;
  margin-bottom:0;
  position:absolute;
  bottom: 0; left:0;right:0;
  background: #eeeeee;
  font-size:small;
}

/* design responsive */
@media screen and (max-width: 800px) {
  .main {
    display:block;
    
  }
  .main-inside{
	width:90%;
	 
		}
  .left {
  	clear:both;
  }
  .right {
  	clear:both;
  }

  .btn-lg { 

   font-size: 11px; 
   
}
}

